---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 Not Found | Abdulmalikov Maksud">
   <main>
      <a href="/" class="absolute cursor-pointer top-6 left-4 sm:top-10 sm:left-8">
         <img src="/logo.png" alt="logo" class="w-9 h-9 sm:w-12 sm:h-12" />
      </a>
      <div class="h-screen flex flex-col justify-center items-center mx-8">
         <h1 class="text-4xl mb-5 font-semibold text-center">Oops, this page doesn't exist :(</h1>
         <a class="text-lg cursor-pointer hover:text-rusty-red transition-colors duration-300" href="/">Take me home</a>
      </div>
   </main>
</Layout>
