---
import Layout from '../layouts/Layout.astro'
import AsideNav from '../components/home/AsideNav.tsx'
import Main from '../components/home/Main.tsx'
---

<Layout title="Abdulmalikov Maksud">
   <div class="flex flex-wrap">
      <AsideNav client:visible />
      <Main />
   </div>
</Layout>
